* {
	font-family: Consolas;
	font-size: 12px;
}
table th{
	font-size: 14px;
	font-weight: bold;
}
.editableTable,.leasetable {
	border: solid 1px;
	width: 100%;
	text-align: center;
}
.logtable {
	width: 100%;
	border: 1px solid;
	table-layout: auto;
}
.logtable td {
	word-wrap: break-word;
	border: 1px solid;
	word-break: break-all;
}
.logtable td:first-child {
	width: 25%;
}
.leasetable td {
	width: 20%;
	height: 25px;
	border: 1px solid;
}
.editableTable td {
	width: 25%;
	height: 25px;
	border: 1px solid;
}
.editableTable.cellEditing {
	padding: 0;
}
.editableTable.cellEditing input[type = text] {
	width: 100%;
	border: 0;
	background-color: rgb(255, 253, 210);
}

ol {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
	padding: 5px;
	margin: 0;
}
li label {
	font-weight: bold;
	width: 170px;
	display: inline-block;

}

.button{
	background-color: rgb(0, 109, 204);
	background-image: linear-gradient(rgb(0, 136, 204), rgb(0, 68, 204));
	background-repeat: repeat-x;
	border: 1px solid rgba(0, 0, 0, 0.0980392);
	border-radius: 4px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	height: 30px;
	line-height: 20px;
	margin: 0px;
	padding-bottom: 4px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 4px;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
}
